.new-blog-form_container {
  margin: 12px 0;
}

.new-blog-form {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  align-items: flex-start;
}

.new-blog-form_field {
  display: flex;
  gap: 0 8px;

  label {
    min-width: 40px;
  }
}