.blog-content-list {
  margin: 16px 0;
  padding: 0;
}

.blog-content-list-item {
  list-style-type: none;
  margin: 16px 0;
}

.blog-content-list-item_like {
  button {
    margin-left: 8px;
  }
}

.blog-content_comments {
  margin: 32px 0 0 0;
}
